<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <sessionState mode="Custom" sqlCommandTimeout="0" />
        <roleManager enabled="true" />
        <authorization>
            <allow users="?" />
        </authorization>
        <authentication mode="Forms" />
    </system.web>
    <system.webServer>
        <security>
            <authorization>
                <add accessType="Allow" users="?" />
            </authorization>
        </security>
    </system.webServer>
</configuration>
