body {
    background-color: lightblue;
}

h1{
    text-align: center;
}

.wrap{
    margin: 0 auto;
    width: 60%;
    max-width: 800px;
    padding: 20px;
    background-color: white;
}

.wrap label, .wrap input{
    margin: 10px 0;
}

#ValidationSummary1{
   background-color: lightgray;
   padding: 20px;
   margin: 10px;
}


